@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    max-width: 90%;
}

/* NavBar Start */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-and-name {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.link {
    padding: 0 2rem;
}