@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 0 5rem;
    background-color: #F3FFFF;
}

/* NavBar Start */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    width: 100px;
    height: 100px;
}
.nav-name {
    padding: 0 1rem;

}
.logo-and-name {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.link {
    padding: 0 2rem;
    color: #3F3D56;
}

.homepage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.homepage-section-left {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 8rem 0;
    justify-content: space-between;
    z-index: 100;
}

.homepage-section-left h1 {
    color: #3899A7;
    font-size: 2.1rem;
    font-weight: 500;
    width: 450px;
    padding-bottom: 3rem;
}

.homepage-section-left em {
    color: #98C6CC;
    font-size: 1.1rem;
    padding-bottom: 3rem;
}

.homepage-section-left button {
    background-color: #3F3D56;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(3px 4.5px 9.8px rgba(63, 61, 86, 0.5));
    border-radius: 10px;
    border: 1px solid #3F3D56;
    outline: none;
    color: white;
    max-width: 12rem;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
}

.blob {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.homepage-section-right {
    position: absolute;
    right: 100px;
}

@media screen and (max-width: 1200px) {
    .homepage-section-right embed {
        width: 80%;
        z-index: -1;
    }
}